.box1 {
  width: 1920px;
  height: 44px;
  gap: 24px;
  display: flex;
  background-color: #f5f5f7cc 80%;
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.box2 {
  width: 1920px;
  height: 60px;
  gap: 4px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.hooson {
  width: 1920px;
  height: 89px;
  background-color: aquamarine;
}
.box3 {
  height: 75px;
  background-color: #f5f5f7;
}
.box4 {
  width: 1920px;

  height: 100px;
  justify-content: space-between;

  gap: 32px;
  display: flex;
}
.duunar {
  display: flex;
  width: 260px;
  gap: 16px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.pin {
  width: 35px;
  height: 35px;
}
.parent2 {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.tomah1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tomah2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tomah {
  font-size: 44px;
  color: #6e6e73;
  font-family: "Inter", sans-serif;
}
span {
  color: #0090f7;
}
.box5 {
  width: 1920px;
  gap: 12px;
  display: flex;
  justify-content: center;
}
.pan {
  width: 120px;
  height: 78px;
}
